<div class="container">
  <div class="pages-header">
  </div>
  <div class="pages-header">
    <span class="center">Start taking online payments!</span>
      <%= link_to "Landlord Sign Up", new_landlord_path, class: 'center btn btn-secondary' %>
    </div>
  </div>
  <div class="pages-header">
    <span class="center">Sign in to view your kingdom.</span>
      <%= link_to "Landlord Sign In", new_user_session_path, class: 'center btn btn-secondary' %>
    </div>
  </div>
  <div class="pages-header">
    <span class="center">Want to pay your rent online? Start Here!</span>
      <%= link_to "Tenant Sign Up", new_tenant_path, class: 'center btn btn-secondary' %>
    </div>
  </div>
  <div class="pages-header">
    <span class="center">Tenant sign in here...</span>
      <%= link_to "Tenant Sign In", tenants_path, class: 'center btn btn-secondary' %>
    </div>
  </div>
</div>
