//colors
// $grey: #878284;
//$off_white: #FFFFFF;
// $tan: #E5C5B6;
// $soft_red: #FA594E;
// $dark_red: #AF3E36;
// $dark: #2A252C;
//
// $blue: #009BF8;
// $purple: #B43D6B;
// $off_white: #FAFAFA;
// $orange: #E56134;
$white: #FFFFFF;

$purple: #3F2860;
$green: #90C5A9;
$mat_green: #7A9A9A;
$orange: #EF6D3B;
$light_orange: #FA8B60;
$light_grey: #FDFDFD;
$grey: #F1EEE9;
$green: #087830;
